extends baseEmail

block content
  // Add asset on top left
  img(src="/Users/fres/dev/projects/pomo_backend/views/assets/logo.png", style="position: absolute; top: 0; left: 0;")

  // Change color of greeting message
  p Hi #{firstName},

  p Forgot your password? This is your One Time Password (OTP):

  // Make URL more bold, bigger, and change color
  p(style="font-weight: bold; font-size: 18px; color: rgba(98, 85, 246, 1);") #{url}

  // Make URL more opaque
  p You just need to copy this token and paste it in your Pomo app to proceed with recovering your password. Please notice that this OTP will be available for only 10 minutes.

  p(style="opacity: 0.5;") If you didn't forget your password, please ignore this email!
